<%= render "shared/sidebar", kid: @kid %>

<div class="container" data-controller="avatar">
   <div class="d-none" data-avatar-target="kidId">
    <%= @kid.id %>
  </div>

  <h1 class="text-center">
    Who do you want to be, <%= @kid.nickname.capitalize %>?
  </h1>
  <br>

    <div class="d-flex justify-content-around mt-5" >

      <div data-action="click->avatar#moanaAvatar">
        <audio src="<%= audio_path 'vermelho.mp3'%>" data-avatar-target="moana"></audio>
        <%= cl_image_tag @moana.photo.key, class:"avatar shadow avatar-edit" %>
        <h4 class="avatar-edit text-center mt-3"><%= @moana.name.capitalize %></h4>
      </div>

      <div data-action="click->avatar#pocahontasAvatar">
        <audio src="<%= audio_path 'vermelho.mp3'%>" data-avatar-target="pocahontas"></audio>
        <%= cl_image_tag @pocahontas.photo.key, class:"avatar shadow avatar-edit" %>
        <h4 class="avatar-edit text-center mt-3"><%= @pocahontas.name.capitalize %></h4>
      </div>
    </div>

    <div class="d-flex justify-content-around my-4">
      <div data-action="click->avatar#mogliAvatar">
        <audio src="<%= audio_path 'vermelho.mp3'%>" data-avatar-target="mogli"></audio>
        <%= cl_image_tag @mogli.photo.key, class:"avatar shadow avatar-edit"  %>
        <h4 class="avatar-edit text-center mt-3"><%= @mogli.name.capitalize %></h4>
      </div>

      <div data-action="click->avatar#tarzanAvatar">
        <audio src="<%= audio_path 'vermelho.mp3'%>" data-avatar-target="tarzan"></audio>
        <%= cl_image_tag @tarzan.photo.key, class:"avatar shadow avatar-edit"  %>
        <h4 class="avatar-edit text-center mt-3"><%= @tarzan.name %></h4>
      </div>
    </div>

  <% if @kid.total_score >= 1 %>
    <div class="d-flex justify-content-around mt-4 mb-2">
      <div data-action="click->avatar#simbaAvatar">
        <audio src="<%= audio_path 'vermelho.mp3'%>" data-avatar-target="simba"></audio>
        <%= cl_image_tag @simba.photo.key, class:"avatar shadow avatar-edit"  %>
        <h4 class="avatar-edit text-center mt-3"><%= @simba.name.capitalize %></h4>
      </div>

  <% end %>

  <% if @kid.total_score >= 2 %>
      <div data-action="click->avatar#arielAvatar">
        <audio src="<%= audio_path 'vermelho.mp3'%>" data-avatar-target="ariel"></audio>
        <%= cl_image_tag @ariel.photo.key, class:"avatar shadow avatar-edit"  %>
        <h4 class="avatar-edit text-center mt-3"><%= @ariel.name.capitalize %></h4>
      </div>
  <% end %>
  </div>

  <div class="d-flex justify-content-center">
    <%= link_to "LET'S PLAY", kid_games_path(@kid), class:"btn-brown" %>
  </div>

  <%= image_tag "pirate1.png", id: "pirate", alt: "pirate", width: 110 %>
</div>
