<%= render "shared/sidebar", kid: @kid %>

<div class="container" data-controller="avatar">
   <div class="d-none" data-avatar-target="kidId">
    <%= @kid.id %>
  </div>

  <h1 class="main-title text-center mt-5">
    Who do you want to be, <%= @kid.nickname.capitalize %>?
  </h1>
  <br>

    <div class="d-flex justify-content-around" >
      <div data-action="click->avatar#moanaAvatar">
        <%= cl_image_tag @avatars[0].photo.key, class:"avatar shadow avatar-edit mx-4" %>
        <h2 class="avatar-edit text-center mt-3"><%= @avatars[0].name.capitalize %></h2>
      </div>

      <div data-action="click->avatar#pocahontasAvatar">
        <%= cl_image_tag @avatars[1].photo.key, class:"avatar shadow avatar-edit mx-4" %>
        <h2 class="avatar-edit text-center mt-3"><%= @avatars[1].name.capitalize %></h2>
      </div>
    </div>



    <div class="d-flex justify-content-around my-5">
      <div data-action="click->avatar#mogliAvatar">
        <%= cl_image_tag @avatars[2].photo.key, class:"avatar shadow avatar-edit mx-4"  %>
        <h2 class="avatar-edit text-center mt-3"><%= @avatars[2].name.capitalize %></h2>
      </div>

      <div data-action="click->avatar#tarzanAvatar">
        <%= cl_image_tag @avatars[3].photo.key, class:"avatar shadow avatar-edit mx-4"  %>
        <h2 class="avatar-edit text-center mt-3"><%= @avatars[3].name %></h2>
      </div>
    </div>
  <div class="d-flex justify-content-center">
    <%= link_to "Let's play!", kid_games_path(@kid), class:"btn-brown" %>
  </div>
</div>
