<%= render "shared/logo" %>

<div class="container kids-index">

  <div>
    <h1><strong>Who is ready to play?</strong></h1>
  </div>


    <% @kids.each do |kid| %>
      <%= link_to  kid_games_path(kid), class:"text-decoration-none" do %>
        <div class="m-5 kids-card">
          <%= cl_image_tag kid.avatar.photo.key, class:"avatar shadow" %>
          <h2 class="my-1"><strong><%= kid.nickname %></strong></h2>
        </div>
      <% end %>
    <% end %>

  <footer>
      <%= link_to "add another kid", new_kid_path, class:"add-icon text-decoration-none" %>
  </footer>
</div>
