<%= render "shared/logo" %>

<div class="container kids-index">

<% if @kids.any? %>
  <div>
    <h1 class="my-5"><strong>Who wants to play?</strong></h1>
  </div>
    <% @kids.each do |kid| %>
      <div class=" kids-card">
        <%= link_to  kid_games_path(kid), class:"text-decoration-none" do %>
          <%= cl_image_tag kid.avatar.photo.key, class:"avatar shadow" %>
        <% end %>
          <h2 class="my-1"><strong><%= kid.nickname %></i></strong></h2>
      </div>

        <%= link_to kid_path(kid), data: { turbo_method: :delete, turbo_confirm: "Are you sure you don't wanna play anymore?" }, class:"border rounded-4 d-flex justify-content-center align-items-center delete-btn" do %>
            <i class="fa-solid fa-trash-can trash-icon"> </i><p class="trash-icon"> Delete this player</p>
        <% end %>

      <% end %>
    <% end %>
    <% else %>
      <h1 class="my-5"><strong>Oh, what about the kids? 😃</strong></h1>
      <h4><em>You can add the first player by clicking here:</em></h4>
    <% end %>

  <footer>
    <%= link_to new_kid_path do%>
      <i class="fa-solid fa-circle-plus add-icon"></i>
    <% end %>
  </footer>
</div>
