<%= render "shared/logo" %>

<div class="container">

<h1 class="text-center">New player</h1>

<div class="new-kid-form">
  <br>
      <%= simple_form_for @kid do |f| %>
      <%= f.input :nickname, :label => 'nickname' %>
      <%= f.input :age, as: :integer %>
      <div class="d-flex justify-content-center">
        <%= f.button :submit, "CHOOSE YOUR AVATAR", class:"btn-brown" %>
      </div>
    <% end %>
  </div>
</div>
