<%= simple_form_for @kid do |f| %>
  <%= f.input :nickname, :label => 'nickname' %>
  <%= f.input :age, as: :integer %>
  <%= f.button :submit %>
<% end %>

<div class="d-flex text-align-center">
  <%= link_to "Back to profile", kids_path, class:"text-decoration-none btn btn-primary" %>
</div>
