
<%= render "shared/sidebar", kid: @kid %>

<div>
  <div class="card-profile">
    <h1><strong><%= @kid.nickname %><strong></h1>
    <h4>score: <%= @kid.total_score %></h4>
  </div>
  <div class="card-level">
    <div>
      <h1><strong>Level <%= @kid.total_score + 1 %><strong></h1>
      <hr>
      <h3>Map completion</h3>
      <div>
        <% @kid.total_score.times do %>
          <%= image_tag "treasure-open.png", alt: "chest closed", width: 50 %>
        <% end %>
        <% (@kid.games.size - @kid.total_score).times do %>
          <%= image_tag "treasure-closed.png", alt: "chest closed", width: 50 %>
        <% end %>
      </div>
    </div>
  </div>
</div>
