
<%= render "shared/logo" %>
<div>
  <div class="card-profile">
    <%= cl_image_tag @kid.avatar.photo.key, class:"avatar shadow" %>
    <%= link_to "Change avatar", edit_kid_path, class:"text-decoration-none" %>
    <%= @kid.nickname %>
  </div>
  <div class="card-level">
    <div>
      <h1><strong>Level 1<strong></h1>
      <hr>
      <h3>Map completion</h3>
      <i id= "full-star" class="fa-solid fa-star"></i>
      <i id= "empty-star" class="fa-regular fa-star"></i>
      <i id= "empty-star" class="fa-regular fa-star"></i>
      <i id= "empty-star" class="fa-regular fa-star"></i>

    </div>
  </div>
  <div id="back" >
    <%= link_to kid_games_path(@kid), class: "text-decoration-none" do %>
      <i class="backtick fa-solid fa-angle-left"></i>
    <% end %>
  </div>
</div>
