
<%= render "shared/sidebar", kid: @kid %>

<div>
  <div class="card-profile">
    <h1><strong><%= @kid.nickname %><strong></h1>
  </div>

  <div class="card-level shadow">
    <div>
      <h2><strong>LEVEL <%= @kid.total_score + 1 %><strong></h2>
      <h5 class="mb-4" style="color:#f5bb47;">SCORE: <%= @kid.total_score %></h5>
      <div class="treasures mt-3">
        <% @kid.total_score.times do %>
          <%= image_tag "treasure-open.png", id: "treasure-open", alt: "chest closed", width: 60 %>
        <% end %>
        <% (@kid.games.size - @kid.total_score).times do %>
          <%= image_tag "treasure-closed-bw.png", id: "treasure-closed", alt: "chest closed", width: 60 %>
        <% end %>
      </div>
    </div>
  </div>

  <%= image_tag "crab.png", id: "crab", alt: "crab", width: 100 %>
</div>
