<div class="d-flex justify-content-between">

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <%= cl_image_tag kid.avatar.photo.key, class:"image-sidebar" %>

    <h1 class="sidebar-text"><%= kid.nickname %></h1><br>

    <h2 class="sidebar-text">Level 1 🐀</h2>
    <%= image_tag "progressbar.png", class:"progress-bar" %><br>

    <h2><%= link_to "Profile", kid_path(kid), class:"sidebar-text" %></h2>

    <h2><%= link_to "My map", kid_games_path(kid), class:"sidebar-text" %></h2>

    <h1><%= link_to "Change avatar", edit_kid_path(kid), class:"sidebar-text" %></h1>

    <hr>

    <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete}, class:"sidebar-text" %>
  </div>

  <span onclick="openNav()"><%= cl_image_tag kid.avatar.photo.key, class:"image-avatar" %></span>


  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }


  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  </script>

  <%= image_tag "log.png", class:"image-logo"%>

</div>
