<% if user_signed_in? %>

  <%= image_tag "ks-logo.png", class:"login-logo" %>

  <div class="container kids-index">

    <h1 class="steps">Follow the steps:</h1>
    <h3>1. Add a player</h3>
    <i class="fa-solid fa-circle-plus add-symbol"></i>

    <h3>2. Choose the avatar and nickname</h3>
    <%= image_tag "https://i.pinimg.com/736x/c2/67/a7/c267a7b64cd8a9a726f819f848b7cc51.jpg", class:"avatar-symbol shadow" %>

    <h3>3. Click on the open chest and go to the first lesson</h3>
    <%= image_tag "treasure-open.png", class:"chest-symbol"%>

    <h3>4. Now it's time to practice and play the game!</h3><br>
    <%= link_to "Let's start!", kids_path, class:"btn-brown" %>

  </div>

<% else %>

  <%= image_tag "ks-logo.png", class:"login-logo" %>

  <div class="container kids-index">

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>

      <div class="carousel-inner">
        <div class="card card-carousel carousel-item active">
          <h2 class="p-4">The funniest way to learn the local language!</h2><br>
        </div>

        <div class="card card-carousel carousel-item">
          <h2 class="p-4">With <strong>Kid Speak</strong> your kid can learn and have fun at the same time.</h2><br>
        </div>

        <div class="card card-carousel carousel-item">
          <h2 class="p-4">Here you'll find educational games for 4 to 6 years old children.</h2><br>
        </div>

        <div class="card card-carousel carousel-item">
          <h2 class="p-4">Win new avatars everytime you finish a game!</h2><br>
        </div>

        <div class="card card-carousel carousel-item">
          <h2 class="p-4">Don't waste time! Click at the button below to start.</h2><br>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>

    <div>
      <%= link_to "Let's start", user_session_path, class:"btn-brown" %>
    </div>

  </div>
<% end %>
