  <div class="container" data-controller="game">
    <h1><%= @game.name %></h1>

    <div class="cards">

      <div class="row">
        <div class="card text-white bg-danger mb-3 mx-2 col-4" data-action="click->game#playColorVermelho">
          <audio src="<%= audio_path 'vermelho.mp3'%>" data-game-target="colorVermelho"></audio>
          <h2>vermelho</h2>
        </div>
        <div class="card  text-white bg-warning mb-3 col-4" data-action="click->game#playColorAmarelo">
          <audio src="<%= audio_path 'amarelo.mp3'%>" data-game-target="colorAmarelo"></audio>
          <h2>amarelo</h2>
        </div>
      </div>

      <div class="row">
        <div class="card text-white bg-success mb-3  mx-2 col-4" data-action="click->game#playColorVerde">
          <audio src="<%= audio_path 'verde.mp3'%>" data-game-target="colorVerde"></audio>
          <h2>verde</h2>
        </div>
        <div class="card  text-white bg-primary mb-3 col-4" data-action="click->game#playColorAzul">
          <audio src="<%= audio_path 'azul.mp3'%>" data-game-target="colorAzul"></audio>
          <h2>azul</h2>
        </div>
      </div>

    </div>

    <footer>
      <%= link_to kid_games_path do %>
        <i class="fa-solid fa-map"></i>
      <% end %>

      <%= link_to "Let's play!", kid_game_path(@game) %>
    </footer>
  </div>
