<%= render "shared/map-navbar", kid: @kid %>

<div class="map">
  <div class="games container text-center py-5">

    <% @games.each do |game| %>

      <% if @kid.total_score + 1 >= game.level %>
        <%= link_to kid_game_path(@kid, game), id: "game#{game.name}" do %>
          <%= image_tag "treasure-open.png", alt: "chest-open", width: 60, id: "current-game" %>
        <% end %>
      <% elsif @kid.total_score + 1 == game.level %>
      <%# Here we could code something to be like poping in the screen, so the kid knows that's the next game %>
          <%= link_to kid_game_path(@kid, game), id: "game#{game.name}" do %>
          <%= image_tag "treasure-open.png", alt: "chest-open", width: 60, id: "current-game" %>
        <% end %>
      <% else %>
          <%= image_tag "treasure-closed-bw.png", alt: "chest-closed", id: "game#{game.name}", width: 60 %>
      <% end %>

    <% end %>
  </div>
</div>
