<%# <%= render "shared/sidebar", kid: @kid %> 

<div class="map">
  <div class="games container text-center py-5">

    <% @games.each do |game| %>

      <% if game.completed %>
        <%= link_to lecture_kid_game_path(game.kid, game), id: "game#{game.name}" do %>
          <%= image_tag "treasure-open.png", alt: "chest-open", width: 50 %>
        <% end %>
      <% else %>
        <%= link_to "#", id: "game#{game.name}" do %>
          <%= image_tag "treasure-closed.png", alt: "chest closed", width: 50 %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
