<%= render "shared/sidebar", kid: @kid %>

<%# Condition for the voice %>
<% female = @kid.avatar.name == "moana" || @kid.avatar.name == "pocahontas" || @kid.avatar.name == "ariel" || @kid.avatar.name == "frozen" %>

<div data-controller="game">
  <%# Taking the targets for the game controller  %>
  <div class="d-none" data-game-target="gameId">
    <%= @game.id %>
  </div>
  <div class="d-none" data-game-target="kidId">
    <%= @game.kid.id %>
  </div>

  <%# Starting the game %>
  <div class="container">

    <h1><%= @game.name %></h1>

    <div class="my-5" data-action="click->game#playSound">
      <%# Audio of the exercise %>
      <% if female && @game.name == "Colors" %>
            <audio src="<%= audio_path 'A-Vermelho.mp3'%>" data-game-target= "exercise"></audio>
          <% elsif @game.name == "Colors"  %>
            <audio src="<%= audio_path 'F-Vermelho.mp3'%>" data-game-target= "exercise"></audio>
          <% elsif female && @game.name == "Animals" %>
            <audio src="<%= audio_path 'A-Leao.mp3'%>" data-game-target= "exercise"></audio>
          <% elsif @game.name == "Animals" %>
            <audio src="<%= audio_path 'F-Leao.mp3'%>" data-game-target= "exercise"></audio>
          <% elsif female && @game.name == "Fruits" %>
            <audio src="<%= audio_path 'A-Leao.mp3'%>" data-game-target= "exercise"></audio>
          <% elsif @game.name == "Fruits" %>
            <audio src="<%= audio_path 'F-Leao.mp3'%>" data-game-target= "exercise"></audio>
          <% elsif female && @game.name == "Rooms" %>
            <audio src="<%= audio_path 'A-Leao.mp3'%>" data-game-target= "exercise"></audio>
          <% elsif @game.name == "Rooms" %>
            <audio src="<%= audio_path 'F-Leao.mp3'%>" data-game-target= "exercise"></audio>
          <% end %>

      <div class="card audio-game">
        <h2><i class="fa-solid fa-volume-high" style="color: #ffffff;" data-action="click->game#playSound"></i></h2>
      </div>
    </div>

    <div class="d-flex justify-content-evenly my-3">

      <div class="card rounded-4" data-game-target="wrongAnswer1Card">
        <div data-action="click->game#playWrongAnswer1">
          <%# Audio of the first card %>
          <% if female && @game.name == "Colors" %>
            <audio src="<%= audio_path 'A-Azul.mp3'%>" data-game-target= "wrongAnswer1"></audio>
          <% elsif @game.name == "Colors"  %>
            <audio src="<%= audio_path 'F-Azul.mp3'%>" data-game-target= "wrongAnswer1"></audio>
          <% elsif female && @game.name == "Animals" %>
            <audio src="<%= audio_path 'A-Elefante.mp3'%>" data-game-target= "wrongAnswer1"></audio>
          <% elsif @game.name == "Animals" %>
            <audio src="<%= audio_path 'F-Elefante.mp3'%>" data-game-target= "wrongAnswer1"></audio>
          <% elsif female && @game.name == "Fruits" %>
            <audio src="<%= audio_path 'A-Leao.mp3'%>" data-game-target= "wrongAnswer1"></audio>
          <% elsif @game.name == "Fruits" %>
            <audio src="<%= audio_path 'F-Leao.mp3'%>" data-game-target= "wrongAnswer1"></audio>
          <% elsif female && @game.name == "Rooms" %>
            <audio src="<%= audio_path 'A-Leao.mp3'%>" data-game-target= "wrongAnswer1"></audio>
          <% elsif @game.name == "Rooms" %>
            <audio src="<%= audio_path 'F-Leao.mp3'%>" data-game-target= "wrongAnswer1"></audio>
          <% end %>
          <%= cl_image_tag @game.photos[0].key, height: 130, width: 130, crop: :fill %>
        </div>
      </div>

      <div class="card rounded-4" data-game-target="wrongAnswer2Card">
        <div data-action="click->game#playWrongAnswer2">
          <%# Audio of the second card %>
          <% if female && @game.name == "Colors" %>
            <audio src="<%= audio_path 'A-Amarelo.mp3'%>" data-game-target= "wrongAnswer2"></audio>
          <% elsif @game.name == "Colors"  %>
            <audio src="<%= audio_path 'F-Amarelo.mp3'%>" data-game-target= "wrongAnswer2"></audio>
          <% elsif female && @game.name == "Animals" %>
            <audio src="<%= audio_path 'A-Girafa.mp3'%>" data-game-target= "wrongAnswer2"></audio>
          <% elsif @game.name == "Animals" %>
            <audio src="<%= audio_path 'F-Girafa.mp3'%>" data-game-target= "wrongAnswer2"></audio>
          <% elsif female && @game.name == "Fruits" %>
            <audio src="<%= audio_path 'A-Leao.mp3'%>" data-game-target= "wrongAnswer2"></audio>
          <% elsif @game.name == "Fruits" %>
            <audio src="<%= audio_path 'F-Leao.mp3'%>" data-game-target= "wrongAnswer2"></audio>
          <% elsif female && @game.name == "Rooms" %>
            <audio src="<%= audio_path 'A-Leao.mp3'%>" data-game-target= "wrongAnswer2"></audio>
          <% elsif @game.name == "Rooms" %>
            <audio src="<%= audio_path 'F-Leao.mp3'%>" data-game-target= "wrongAnswer2"></audio>
          <% end %>
          <%= cl_image_tag @game.photos[1].key, height: 130, width: 130, crop: :fill %>
        </div>
      </div>

    </div>

    <div class="d-flex justify-content-evenly">

      <div class="card rounded-4" data-game-target="wrongAnswer3Card">
        <div data-action="click->game#playWrongAnswer3">
          <%# Audio for the third card %>
          <% if female && @game.name == "Colors" %>
            <audio src="<%= audio_path 'A-Verde.mp3'%>" data-game-target= "wrongAnswer3"></audio>
          <% elsif @game.name == "Colors"  %>
            <audio src="<%= audio_path 'F-Verde.mp3'%>" data-game-target= "wrongAnswer3"></audio>
          <% elsif female && @game.name == "Animals" %>
            <audio src="<%= audio_path 'A-Tigre.mp3'%>" data-game-target= "wrongAnswer3"></audio>
          <% elsif @game.name == "Animals" %>
            <audio src="<%= audio_path 'F-Tigre.mp3'%>" data-game-target= "wrongAnswer3"></audio>
          <% elsif female && @game.name == "Fruits" %>
            <audio src="<%= audio_path 'A-Leao.mp3'%>" data-game-target= "wrongAnswer3"></audio>
          <% elsif @game.name == "Fruits" %>
            <audio src="<%= audio_path 'F-Leao.mp3'%>" data-game-target= "wrongAnswer3"></audio>
          <% elsif female && @game.name == "Rooms" %>
            <audio src="<%= audio_path 'A-Leao.mp3'%>" data-game-target= "wrongAnswer3"></audio>
          <% elsif @game.name == "Rooms" %>
            <audio src="<%= audio_path 'F-Leao.mp3'%>" data-game-target= "wrongAnswer3"></audio>
          <% end %>
          <%= cl_image_tag @game.photos[2].key, height: 130, width: 130, crop: :fill %>
        </div>
      </div>

      <div class="card rounded-4" data-confetti-follow-value="false" data-controller="confetti" data-action="click->confetti#spray" data-animation-value="basic">
        <div data-action="click->game#playWin">
          <%# Audio for the winner card %>
          <% if female && @game.name == "Colors" %>
            <audio src="<%= audio_path 'A-Vermelho-parabens.mp3'%>" data-game-target= "win"></audio>
          <% elsif @game.name == "Colors"  %>
            <audio src="<%= audio_path 'F-Vermelho-parabens.mp3'%>" data-game-target= "win"></audio>
          <% elsif female && @game.name == "Animals" %>
            <audio src="<%= audio_path 'A-Leao-Parabens.mp3'%>" data-game-target= "win"></audio>
          <% elsif @game.name == "Animals" %>
            <audio src="<%= audio_path 'F-Leao-parabens.mp3'%>" data-game-target= "win"></audio>
          <% elsif female && @game.name == "Fruits" %>
            <audio src="<%= audio_path 'A-Leao-Parabens.mp3'%>" data-game-target= "win"></audio>
          <% elsif @game.name == "Fruits" %>
            <audio src="<%= audio_path 'F-Leao-parabens.mp3'%>" data-game-target= "win"></audio>
          <% elsif female && @game.name == "Rooms" %>
            <audio src="<%= audio_path 'A-Leao-Parabens.mp3'%>" data-game-target= "win"></audio>
          <% elsif @game.name == "Rooms" %>
            <audio src="<%= audio_path 'F-Leao-parabens.mp3'%>" data-game-target= "win"></audio>
          <% end %>
          <%= cl_image_tag @game.photos[3].key, height: 130, width: 130, crop: :fill %>
        </div>
      </div>

    </div>
    <footer>
      <%= link_to lecture_kid_game_path(@game.kid, @game) do %>
        <h2 class="game-btn"><i class="fa-solid fa-left-long"></i></h2>
      <% end %>
    </footer>
  </div>
</div>
