<%= render "shared/sidebar", kid: @kid %>

<%# Condition for the voice %>
<% female = @kid.avatar.name == "moana" || @kid.avatar.name == "pocahontas" || @kid.avatar.name == "ariel" %>

<div data-controller="game">
  <%# Taking the targets for the game controller  %>
  <div class="d-none" data-game-target="gameId">
    <%= @game.id %>
  </div>
  <div class="d-none" data-game-target="kidId">
    <%= @game.kid.id %>
  </div>

  <%# Starting the game %>
  <div class="container">

    <h1><%= @game.name %></h1>

    <div class="my-4" data-action="click->game#playSound">
      <%# Audio of the exercise %>
      <% if female %>
        <%= cl_video_tag @game.videos[8].key, data: { game_target: "exercise" } %>
      <% else %>
        <%= cl_video_tag @game.videos[9].key, data: { game_target: "exercise" } %>
      <% end %>

      <div class="card audio-game">
        <h2><i class="fa-solid fa-volume-high" data-action="click->game#playSound"></i></h2>
      </div>
    </div>

    <div class="d-flex justify-content-evenly my-3">

      <div class="card rounded-4" data-game-target="wrongAnswer1Card">
        <div data-action="click->game#playWrongAnswer1">
          <%# Audio of the first card %>
          <% if female %>
            <%= cl_video_tag @game.videos[0].key, data: { game_target: "wrongAnswer1" } %>
          <% else %>
            <%= cl_video_tag @game.videos[1].key, data: { game_target: "wrongAnswer1" } %>
          <% end %>
          <%= cl_image_tag @game.photos[0].key, height: 130, width: 130, crop: :fill %>
        </div>
      </div>

      <div class="card rounded-4" data-game-target="wrongAnswer2Card">
        <div data-action="click->game#playWrongAnswer2">
          <%# Audio of the second card %>
          <% if female %>
            <%= cl_video_tag @game.videos[2].key, data: { game_target: "wrongAnswer2" } %>
          <% else %>
            <%= cl_video_tag @game.videos[3].key, data: { game_target: "wrongAnswer2" } %>
          <% end %>
          <%= cl_image_tag @game.photos[1].key, height: 130, width: 130, crop: :fill %>
        </div>
      </div>

    </div>

    <div class="d-flex justify-content-evenly">

      <div class="card rounded-4" data-game-target="wrongAnswer3Card">
        <div data-action="click->game#playWrongAnswer3">
          <%# Audio for the third card %>
          <% if female %>
            <%= cl_video_tag @game.videos[4].key, data: { game_target: "wrongAnswer3" } %>
          <% else %>
            <%= cl_video_tag @game.videos[5].key, data: { game_target: "wrongAnswer3" } %>
          <% end %>
          <%= cl_image_tag @game.photos[2].key, height: 130, width: 130, crop: :fill %>
        </div>
      </div>

      <div class="card rounded-4" data-confetti-follow-value="false" data-controller="confetti" data-action="click->confetti#spray" data-animation-value="basic">
        <div data-action="click->game#playWin">
          <%# Audio for the winner card %>
          <% if female %>
            <%= cl_video_tag @game.videos[6].key, data: { game_target: "win"  } %>
          <% else %>
            <%= cl_video_tag @game.videos[7].key, data: { game_target: "win"  } %>
          <% end %>
          <%= cl_image_tag @game.photos[3].key, height: 130, width: 130, crop: :fill %>
        </div>
      </div>

    </div>
    <footer>
      <%= link_to lecture_kid_game_path(@game.kid, @game) do %>
        <h2 class="game-btn"><i class="fa-solid fa-arrow-left"></i> Back to lesson</h2>
      <% end %>
    </footer>
  </div>
</div>
